  GNU nano 3.2                                                                   home.html                                                                              

<!DOCTYPE html>
<html>
<title>VILA - Secrecy should be priority!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class="w3-black">
 <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small"></span> VILA!</h1>
    <p>WELCOME</p>
 <div class="w3-row w3-center w3-padding-16 w3-section w3-orange">
      <div class="w3-quarter w3-section">
        CHANNELS
      </div>
<div class="look">
  <form>
      <input name="Message" class="Typing"
        placeholder="search"></textarea>
       <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> Search
        </button>
  </form>
</div>
<ul>
  <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
       <a href=#> CARS </a>
      </div>
  <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
       <a href=#>MUSIC </a>
      </div>
  <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
       <a href=#> LOVE </a>
      </div>
  <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
       <a href=#> TECHNOLOGY </a>
      </div>
  <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
       <a href=#> BUSINESS & FINANCE </a>
      </div>
  <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
       <a href=#> SCIENCE </a>
      </div>
  <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
       <a href=#> SPORTS </a>
      </div>
  <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
       <a href=#> LITERATURE </a>
      </div>
<div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
       <a href=#> TRAVEL & LIFESTYLE</a>
      </div>
<div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
       <a href=#> FOOD </a>
      </div>
<div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
       <a href=#> ART </a>
      </div>
</ul>



