<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>VILA - Secrecy should be priority!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/app.css">
  <title>Welcome to Vila chat</title>
</head>
<body>

  <form action="/chat" method="get" accept-charset="utf-8">
    <input type="text" name="username" id="username" value="" placeholder="Name">
    <input type="text" name="channel" id="channel" value="" placeholder="channel">
    <input type="submit" name="go" id="go" value="Go">
  </form>
</body>
</html>
